header {
  .navbar,
  .se-main-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    left:0px;
  }
  .col-md-9 {
    display: flex;
    flex-direction: row;
    padding-right: 0px;
    margin-left: -15px;
    ul{
      &.navbar-nav{
        padding:0px;
      }
    }
  }
  .navbar-nav {
    flex: 1;
    font-size: 1.10rem;
    line-height: 30px;
    text-transform: uppercase;
    cursor: default;
    .nav-link {
      cursor: pointer;
    }
    .nav-link.active {
      background: #009fdb;
    }
    @media all and (min-width: 836px) {
      .nav-item .nav-link {
        height: 62px;
        padding: 16px 16px;
      }
    }
    @media all and (max-width: 836px) {
      .nav-link {
        height: 62px;
        padding: 16px 8px;
      }
    }
    .nav-item+.nav-item {
      margin-left: 1rem;
    }
    .user-profile-icon {
      float: right;
      &:before {
        float: left;
        height: 42px;
        margin-top: 10px;
        border-left: 1px solid white;
        content: ' ';
      }
    }
    @media (max-width: 769px) {
      .nav-item+.nav-item {
        margin-left: 0.25rem;
      }
      .user-profile-icon {
        float: right;
      }
    }
    li {
      .submenu {
        display: none;
        list-style: none;
        position: absolute;
        padding: 0;
        background: #d2d2d2;
        width: 200px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        z-index: 1000;
        -webkit-padding-start: 0px;
        text-transform: none;
        li {
          a {
            color: #545455;
            display: block;
            height: 45px;
            line-height: 45px;
            text-decoration: none;
            padding-left: 20px;
            &:hover {
              text-decoration: none;
              background: #fff;
              color: #009fdb;
              border: 1px solid rgba(0, 0, 0, .15);
            }
          }
        }
      }
      &:hover {
        background: #009fdb;
        color: #fff;
        .submenu {
          display: block;
        }
      }
    }
  }
  .se-main-logo {
    margin-right: 3rem;
  }
  @media (max-width: 769px) {
    .se-main-logo {
      width: 160px;
    }
  }
  .navbar-dark {
    background: #000000;
    padding: 0;
    position: fixed;
    z-index: 9999;
    width: 100%;
  }
  .navbar {
    border-radius: 0;
    a {
      color: #fff;
    }
    .avatar-icon {
      width: 42px;
      height: 42px;
      background: url('/assets/images/avatar.png');
      background-repeat: no-repeat !important;
      border: 0;
      float: left;
      margin: -6px 16px;
      margin-left: 0;
      background-size: 100% !important;
      border-radius: 50%;
    }
    .submenu.dropdown-menu-right {
      right: 14px;
      left: auto;
    }
  }
}

.navbar-right #avt_account {
  height: 40px;
  width: 40px;
  margin-top: 15px;
  margin-right: 10px;
}