<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<proxies>
		<proxy>
			<id>att</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>one.proxy.att.com</host>
			<port>8080</port>
		</proxy>
	</proxies>
	<mirrors>
		<mirror>
			<id>ATT</id>
			<name>ATT Internal Mirror of Maven Central</name>
			<url>http://mavencentral.it.att.com:8084/nexus/content/repositories/central</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
	<pluginGroups>
		<pluginGroup>org.sonatype.plugins</pluginGroup>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
		<pluginGroup>com.att.r3.plugins</pluginGroup>
	</pluginGroups>
	<servers>
		<server>
			<id>nexus</id>
			<username>m97047</username>
			<password>m8f1h2d1e3</password>
			<!-- mvn -ep {password} -->
		</server>
	</servers>
</settings>
