<div class="dropdown">
    <button #elementButton id="form-dropdown-button" value="{{label}}" class="btn dropdown-toggle" data-toggle="dropdown" (click)="toggle($event)" [disabled]="disabled">
      {{elementButton.value}} 
      <span class="chevron" [class.icon-arrow_down]="!open" [class.icon-carrot_up]="open"></span>
    </button>
    <div class="dropdown-menu">
      <ul>
        <li *ngFor="let value of values" (click)="toggle($event, value);elementButton.value=value">{{ value }}</li>
      </ul>
    </div>
</div>
