@font-face {
  font-family: 'msa-icon';
  src: url("../fonts/msa-icon.eot");
  src: url("../fonts/msa-icon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/msa-icon.woff") format("woff"),
       url("../fonts/msa-icon.ttf") format("truetype"),
       url("../fonts/msa-icon.svg#msa-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'msa-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*-- Dump from Exsitng salesexpress main, to be cleaned up as we go.
     If you see font size, color, PNG etc, those are inherited HACKS. 
  --*/
.icon-selogo:before {
	content: "\e648";
}

.icon-close:before {
  content: "\e600";
  color:#b30a3c
}

.icon-bang:before {
  content: "\e601";
}


.icon-star:before {
  content: "\e602";
}

.icon-search:before {
  content: "\e603";
}


.icon-minus:before {
  content: "\e604";
}


.icon-clock:before {
  content: "\e605";
}


.icon-quick:before {
  content: "\e606";
}


.icon-qualify:before {
  content: "\e607";
}

.icon-qualtool:before {
  content: "\ea2f";
}


.icon-propose:before {
  content: "\e608";
}

.icon-propose2:before {
  content: "\e608";
  height:100px;
}

.icon-week:before {
	content: "\e627";
	width: 20px;
	height: 20px;
}
.icon-month:before {
	content: "\e627";
	width: 20px;
	height: 20px;
}
.icon-year:before {
	content: "\e627";
	width: 20px;
	height: 20px;
}
.icon-prequal:before {
  content: "\e609";
}

.icon-person:before {
  content: "\e60a";
}


.icon-clip:before {
  content: "\e60b";

}

.icon-opportunity:before {
  content: "\e60c";
}

.icon-orders:before {
  content: "\e643";
}

.icon-new_lead:before {
	content: "\e60d";
}
.icon-new_notification:before {
  content: "\e60d";
}

.icon-no:before {
  content: "\e60e";
}

.icon-notification:before{
	 background-image: url('/mobilefirst/assets/images/notification/NotificationIcon.svg') !important;
}

.icon-my_feed:before {
  content: "\e60f";
}

.icon-location:before {
  content: "\e610";
}


.icon-link:before {
  content: "\e611";
}


.icon-leads:before {
  content: "\e612";
}


.icon-hot_lead:before {
  content: "\e613";
}


.icon-hot_lead_whole:before {
  content: "\e614";
}

.icon-fiber_Availability:before {
  content: "\e644";
}


.icon-new_sip:before {
 content: "\e60d";
 font-size: 28px;
}

.icon-new_sip_indicator:before {
  content: "\e642";
}


.icon-follow:before {
  content: "\e616";
}


.icon-feedback:before {
  content: "\e617";
}


.icon-expand:before {
  content: "\e618";
}


.icon-communities:before {
  content: "\e619";
}


.icon-closed:before {
  content: "\e61a";
}


.icon-check:before {
  content: "\e61b";
}


.icon-camera:before {
  content: "\e61c";
}


.icon-calendar:before {
  content: "\e61d";
}


.icon-avatar:before {
  content: "\e61e";
}


.icon-arrow_diagonal:before {
  content: "\e61f";
}


.icon-arrow_up:before {
  content: "\e620";
}


.icon-carrot_up:before {
  content: "\e621";
}


.icon-carrot_right:before {
  content: "\e622";
}

.icon-mail:before {
  content: "\e64e";
}

.icon-paperclip-small:before {
  content: "\e652";
}

.icon-paperclip-medium:before {
  content: "\e653";
}

.icon-refresh-arrows:before {
  content: "\e654";
}

.icon-refresh-stylised2:before {
  content: "\e655";
}

.icon-refresh-stylised4:before {
  content: "\e656";
}


.icon-arrow_left:before {
  content: "\e623";
}


.icon-arrow_down:before {
  content: "\e624";
}


.icon-add_contact:before {
  content: "\e625";
}


.icon-plus:before {
  content: "\e626";
}

.icon-activity:before {
  content: "\e627";
}
/*-- following is being used as activity in SE */
.icon-uniE639:before {
  content: "\e639";
}

.icon-SIP:before {
 content: "\e63d";
}


.icon-mycomp:before {
  content: "\e63f";
}

.icon-account:before {
  content: "\e628";
}

.icon-notificationInApp:before {
  content: "\e91c";
}


.icon-help-desk:before {
	content: "\e655";
	color:#b30a3c;
}
.icon-help-desk .help-Word:before {
	content: "\e654";
	margin-left: -1.5em;
	color: #FFFFFF;

}
.icon-geolinkwhite:before {
  content: "\e921";
}

.icon-team:before {
  content: "\e63e";
}


.icon-esign:before {
  content: "\e629";
}


.icon-triangle_down:before {
  content: "\e62a";
}


.icon-triangle_up:before {
  content: "\e62b";
}


.icon-location_full:before {
  content: "\e62c";
}


 .icon-save:before {
   content: "\e62d";
 }

 .icon-trash:before {
   content: "\e649";
 }

 .icon-building:before {
   content: "\e64c";
 }

 .icon-hq:before {
   content: "\e64d";
 }


.icon-key:before {
  content: "\e62e";
}


.icon-az:before {
  content: "\e62f";
}

.icon-sort-ascend:before {
  content: "\e630";
  font-size: 1.5em;
}

.icon-sort-descend:before {
  content: "\e631";
  font-size: 1.5em;
}

.icon-sort-unsort:before {
  content: "\e632";
  font-size: 1.5em;
}

.icon-checkmark:before {
  content: "\e633";
}

.icon-gear:before {
  content: "\e634";
}


.icon-copy:before {
  content: "\e63c";
}


.icon-frown-indicator:before {
  content: "\e645";
}


.icon-neutral-indicator:before {
  content: "\e646";
}


.icon-smile-indicator:before {
  content: "\e647";
}

.icon-graph:before {
  content: "\e64b";
}

.icon-newspaper:before {
    content: "\e64f";
}

.icon-radio-unchecked:before {
    content: "\e650";
}

.icon-radio-checked:before {
    content: "\e651";
}

.icon-newui-add:before {
  content: "\e656";
}

.icon-newui-alert:before {
  content: "\e657";
}

.icon-newui-calendar:before {
  content: "\e658";
}

.icon-newui-checkmark:before {
  content: "\e659";
}

.icon-newui-close:before {
  content: "\e65a";
  color:#b30a3c;
}

.icon-newui-chevron:before {
  content: "\e65b";
}

.icon-newui-edit:before {
  content: "\e65c";
}

.icon-newui-filter:before {
  content: "\e65d";
}

.icon-newui-remove:before {
  content: "\e65e";
}

.icon-newui-search:before {
  content: "\e65f";
}

.icon-newui-sort:before {
  content: "\e660";
}

.icon-newui-upload:before {
  content: "\e661";
}

.icon-newui-warning:before {
  content: "\e662";
}


.icon-bullet:before {
  content: "\e60d";
}


.icon-main-qnp:before {
    content: "\e91f";
    font-size: 41px;
    color: #067AB4;
}

.icon-close1:before {
  content: "\e600";
}

.icon-main-qnp:before {
    content: "\e91f";
    font-size: 41px;
    color: #067AB4;
}

.icon-qnp-multiuser{
    background: url('/mobilefirst/assets/images/notificationicons/multiUserImage.png') center no-repeat;
    width: 37px;
    height:33px;
}
.icon-qnp-calender{
    background: url('/mobilefirst/assets/images/notificationicons/CalenderIcon.png') center no-repeat;
    width: 37px;
    height: 30px;
}
.icon-edit_enabled:before {
    content: "\e920";
}

/*-- START dump of notification icons from SE notification.css --*/

.icon-oppty-notification:before {
  content: "\e90b";
}

.icon-hotlead-notification:before {
  content: "\e913";
}

.icon-migration-notification:before {
  content: "\e912";
}

.icon-order-notification:before {
  content: "\e911";
}

.icon-refresh-notification:before {
  content: "\e906";
}

.icon-sip-notification:before {
  content: "\e91a";
}

.icon-admin-notification:before {
  content: "\e914";
}

.icon-clearall-notification:before {
  content: "\e917";
}

.icon-clear-notification:before {
  content: "\e916";
}

.icon-comp-notification:before {
  content: "\e91b";
}

.icon-close-notification:before{
	content: "\e600";
}

.icon-NotificationBellIcon:before {  
  	content: "\e91f";
}
/*-- END dump of notification icons from SE notification.css --*/

/*-- Placeholder for pending icons --*/
.icon-pending:before {  
  	content: "\e636";
    color: red;
}
