@font-face {
  font-family: 'sorting-icon';
  src: url("../fonts/sorting-icon.eot");
  src: url("../fonts/sorting-icon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/sorting-icon.woff") format("woff"),
       url("../fonts/sorting-icon.ttf") format("truetype"),
       url("../fonts/sorting-icon.svg#sorting-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-sorting"],
[class*=" icon-sorting"] {
  font-family: 'sorting-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*-- Dump from Exsitng salesexpress main, to be cleaned up as we go.
     If you see font size, color, PNG etc, those are inherited HACKS. 
  --*/
.icon-sorting:before {
	content: "\e900";
}

/*-- END dump of help icons from SE notification.css --*/
