:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* header {

  .navbar-nav {
    font-size: 1.05rem;
    line-height: 30px;
    text-transform: uppercase;

    .nav-item + .nav-item {
      margin-left: 2rem;
    }
  }

  .navbar-brand {
    margin-right: 3rem;
  }

  .navbar {
    background-color: #000;
    border-radius: 0;

    a {
      color: #fff;
    }

    .container-fluid {
      margin-right: -28px;
      text-align: right;

      .btn {
        width: 88px;
        height: 44px;
        background-image: url('assets/images/usermenu.png');
        border: 0;
      }

      &:after {
        display: none;
      }
    }
  }
}
*/

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 62px;
  // margin-bottom: 60px;
  padding: 0;
  @media only screen 
  and (min-device-width : 1366px) 
  and (max-device-width : 1600px) {
    margin-bottom: 60px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 16px;
  line-height: 38px;
  text-align: right;
  background-color: #009fdb;

  .btn-outline-primary {
    border-color: #fff;
    color: #fff;
  }

  .btn-outline-primary:focus,
  .btn-outline-primary.focus{
    background-color:transparent;
}

} 

// TODO extract to new scss file
.bg-att-blue {
  background-color: #009fdb;
}


