<div class = "row">
<div class = "col-sm-8 aligingAccordianColumn">
<ngb-accordion class="accordianParent" *ngFor="let accordian of accordianList" #acc="ngbAccordion">
  {{accordian}}
  <ngb-panel *ngFor = "let accPanel of accordian">
    <ng-template ngbPanelTitle>
       <span [class.icon-plus]="!accPanel.isOpen" [class.icon-minus]="accPanel.isOpen" class="iconExpandAndCollapse" (click)="accPanel.isOpen = !accPanel.isOpen"><p class="accordianLabel">{{accPanel.name}}</p> </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="accordianListContainer" *ngFor = "let accPanelChilds of accPanel.checkboxes" >
       <div class="checkboxContainer" [class.icon-checkmark]="accPanelChilds.isSelected" (click)="accPanelChilds.isSelected = !accPanelChilds.isSelected;toUncheckCheckboxes(elementCheckobx.isChecked)">
        <input #elementCheckobx type="checkbox"  [checked] ="accPanelChilds.isSelected" (click)="accPanelChilds.isSelected = !accPanelChilds.isSelected;toUncheckCheckboxes(elementCheckobx.isChecked)"/>
       </div>
        <span class="accordianListLabel">{{accPanelChilds.name}}</span>
       </div>
   </ng-template>
  </ngb-panel>
  </ngb-accordion>
</div>
<div class = "col-sm-4 aligningClearDiv">
        <a class="clearAllAccoridan" (click)="clearAllSelection(accordianList)">
            Clear All
        </a>
 </div>
 </div>