<nav>
  <ul *ngFor="let menu of sideMenuList; let j = index;" [ngClass]="{'active': j === activePage}">
    <!-- the condition above needs to be replaced when a new page is created 
          for now, the customer DB page is the only active page, so just making the index 0 as active -->
    <li>
      <a *ngIf="menu.name === 'Manage'" routerLink="{{currentURL}}" [ngClass]="{'active': j === activePage}">{{menu.name}}</a>
      <a *ngIf="menu.name !== 'Manage'" routerLink="{{menu.url}}" [ngClass]="{'active': j === activePage}">{{menu.name}}</a>
      <ul *ngFor="let submenu of menu.submenus">
        <li>
          <a routerLink="{{submenu[1]}}"><span>{{submenu[0]}}</span></a>
        </li>
      </ul>
    </li>
  </ul>
</nav>